---
import ThemeImage from "../ThemeImage.astro";

interface Props {
  lightImage?: ImageMetadata;
  darkImage?: ImageMetadata;
  alt?: string;
  href?: string;
  videoSrc?: string;
  isVideo?: boolean;
  controls?: boolean;
  autoplay?: boolean;
  muted?: boolean;
  loop?: boolean;
  playsInline?: boolean;
  gridSpan?: string;
}

const {
  lightImage, 
  darkImage, 
  alt, 
  href,
  videoSrc,
  isVideo = false,
  controls = true,
  autoplay = false,
  muted = true,
  loop = false,
  playsInline = true,
  gridSpan
} = Astro.props;

const cardStyle = "group/card flex-1 flex flex-col py-3 px-5 gap-0 rounded-xl border-white dark:border-setta-700 border  bg-white  dark:bg-setta-860 shadow-md dark:shadow-setta-900/30 focus:shadow-2xl dark:focus:shadow-[0_35px_60px_-15px_rgba(0,0,0,0.7)] outline outline-4 outline-transparent active:outline-cyan-300 focus:outline-blue-600 transition-all"
---

<div class:list={[cardStyle, gridSpan]} tabindex="1">
    <header class="flex items-center gap-4">
      <slot name="icon" />
      {href ?  
        <a href={href}>
          <h4 class="!my-0 text-2xl font-semibold tracking-tight text-setta-900 dark:!text-setta-300">
            <slot name="title" />
          </h4>
        </a> :       
        <h4 class="!my-0 text-2xl font-semibold tracking-tight text-setta-900 dark:!text-setta-300">
          <slot name="title" />
        </h4>
      }
    </header>

    {isVideo ? (
      <div class="border border-setta-800 rounded-lg overflow-hidden mt-2 [&_*]:!my-0">
        <video
          class="w-full h-auto"
          {controls}
          {autoplay}
          {muted}
          {loop}
          playsinline={playsInline}
        >
          <source src={videoSrc} type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    ) : (
      (lightImage || darkImage) && (
        <a href="#" class="border border-setta-800 rounded-lg overflow-hidden mt-2">
          <ThemeImage class="[&_*]:!mt-0 [&_*]:!mb-0" lightImage={lightImage} darkImage={darkImage} alt={alt} />
        </a>
      )
    )}

    <div class="mt-2 mb-3 prose text-setta-700 dark:text-setta-400 overflow-y-scroll setta-scroll  pr-5 -mr-5">
      <slot name="body" />
    </div>
    
    {href && 
      <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    }
</div>