---
import SiteLogo from "./SiteLogo.astro"
import {siteWidth} from "../../styles/constants"
import VersionDisplay from "../general/VersionDisplay.astro";


const nav = [
  // { url: 'https://discord.gg/MmHJz75bZ5', name: "Discord", target: "_blank" },  
  // { url: 'https://docs.setta.dev', name: "Docs", target: "_blank" },
  { url: '/blog', name: "Blog", target: "" },
  // { url: 'https://github.com/settadev/examples', name: "Examples", target: "_blank"},
  { url: 'https://github.com/settadev/setta', name: "GitHub", target: "_blank"},
];

---

<header class="fixed py-1 top-0 left-0 right-0 z-50 scroll-fade-bg before:bg-setta-100 dark:before:bg-setta-900/90 transition-all duration-300">
  <div class={`${siteWidth} sticky mx-auto py-3 flex justify-between items-center`}>
    <div class="flex gap-4 items-center">
      <a class="flex items-center" href="/">
        <span class="sr-only">setta</span>
        <SiteLogo /> 
      </a>
      <!-- <VersionDisplay /> -->
    </div>
    
    <input type="checkbox" aria-label="mobile nav menu toggle" id="side-menu" class="side-menu hidden" />
    <label
      for="side-menu"
      class="menu-icon relative z-20 block cursor-pointer self-center lg:hidden"
    >
    <span class="hidden">Toggle navigation menu</span>
      <div class="icon top-1 absolute hamburger transition-all">
        <i  class="gg-menu"/>
      </div>
      <div class="exit -mt-1.5  transition-all">
        <i class="gg-close" />
      </div>
    </label>

    <nav
      role="navigation"
      aria-label="Main Navigation"
      class="nav-menu max-h-0 rounded-md lg:max-h-none fixed bg-white dark:bg-setta-950 inset-0 flex h-[100dvh] flex-col place-content-center items-center gap-[clamp(1rem,_8vh,_5rem)] overflow-hidden text-2xl transition-all lg:relative lg:h-fit lg:w-auto lg:flex-row lg:place-content-start lg:bg-transparent dark:lg:bg-transparent lg:gap-4"
    >
      {
        nav.map((item) => (
          <a
            href={item.url}
            target={item?.target}
            class="px-2 py-2 select-none font-bold lg:font-semibold transition-colors  !text-white hover:!text-blue-600 lg:text-base"
          >
            {item.name}
          </a>
        ))
      }
      <!-- <ColorModeButton /> -->
    </nav>
    
  </div>
</header>

<style>
  body:has(.side-menu:checked) {
    overflow: hidden;
  }
  .side-menu:checked ~ nav {
    max-height: 100dvh !important;
  }
  .side-menu:checked ~ .menu-icon > .exit {
    opacity: 100%;
  }
  .side-menu:checked ~ .menu-icon > .hamburger {
    opacity: 0%;
  }
  .side-menu:not(:checked) ~ .menu-icon > .exit {
    opacity: 0%;
  }
  .side-menu:not(:checked) ~ .menu-icon > .hamburger {
    opacity: 100%;
  }

  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: .9; }
  }

  .scroll-fade-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background-color: theme('colors.setta.800'); */
    z-index: -1;
    animation: fade-in linear;
    animation-timeline: scroll();
    animation-range: 0 8vh;
    --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
  .gg-menu {
  transform: scale(var(--ggs, 1));
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor;
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px;
}
.gg-menu::after {
  top: 6px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}
</style>
