---
import Card from "./general/Card.astro";
import Section from "./sections/Section.astro";
import { Copy, Github, Terminal, Code2, Layout as LayoutIcon, FileJson } from 'lucide-astro';
import TempImage from "../assets/img/tempimage.png"

import FlexibleUi from "../snippets/home/flexible-ui.md"
import BuiltForDevs from "../snippets/home/built-for-devs.md"
import PowerfulConfigs from "../snippets/home/powerful-config.md"
import IntegratedDocs from "../snippets/home/integrated-docs.md"
import LongRun from "../snippets/home/long-run.md"
import RealTime from "../snippets/home/real-time.md"



const iconStyle = "min-w-8 h-8 [&_*]:!text-setta-600 group-hover/card:[&_*]:!text-blue-600 [&_*]:transition-colors"

// [&>*:nth-child(even)]:!flex-row-reverse
---

<Section outerClass="pt-16 md:pt-32 sm:pb-16 pattern" innerClass="mx-auto" >

  <h2 class="mx-auto mb-4 md:mb-8 !text-6xl text-center !font-medium">Why Setta Is Betta</h2>

  <aside class="flex flex-col items-center flex-wrap sm:gap-20 md:gap-20 md:[&>*:nth-child(even)]:!flex-row-reverse">
    <Card isVideo={true}
    videoSrc="/assets/video/clean-ui.mp4"
    controls={false}
    muted
    autoplay
    loop={true}>
      <Terminal slot="icon" class={iconStyle} />
      <Fragment slot="title">Flexible UI</Fragment>
      <Fragment slot="body"><FlexibleUi /></Fragment>
    
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/built-for-devs.mp4"
    controls={false}
    muted
    autoplay
    loop={true}
    >
      <LayoutIcon slot="icon" class={iconStyle} />
      <Fragment slot="title">Built for Devs</Fragment>
      <Fragment slot="body"><BuiltForDevs /></Fragment>
   
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/complex-configs.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Powerful Config Management</Fragment>
      <Fragment slot="body"><PowerfulConfigs /></Fragment>
     
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/in-project-docs.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Customizable, Integrated Documentation</Fragment>
      <Fragment slot="body"><IntegratedDocs /></Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/training-run.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Works for scripts that take a while...</Fragment>
      <Fragment slot="body"><LongRun /></Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/interactive-example.mp4"
    controls={false}
    muted
    autoplay
    loop={true}
 >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">...and for Real-Time Interactive Apps</Fragment>
      <Fragment slot="body"><RealTime /></Fragment>
    </Card>

    
  </aside>
</Section>


  <!-- <Section innerClass="mx-auto" proseClasses=''>
    <article class="flex justify-between">
      <aside class="prose">
        <h3>Forgettabout the config hell</h3>
        <p>With Setta, you betta get to coding cause there isn't any configuration parsers to write!</p>
      </aside>
      <div class="w-16 h-16 bg-red-500 rounded" />

    </article>
  </Section> -->