---
import Card from "./general/Card.astro";
import Section from "./sections/Section.astro";
import { Copy, Monitor, Code, Terminal, BookOpenText, WandSparkles, SquarePlay } from 'lucide-astro';

// Import content
import FlexibleUi from "../snippets/home/flexible-ui.md"
import BuiltForDevs from "../snippets/home/built-for-devs.md"
import PowerfulConfigs from "../snippets/home/powerful-config.md"
import IntegratedDocs from "../snippets/home/integrated-docs.md"
import LongRun from "../snippets/home/long-run.md"
import RealTime from "../snippets/home/real-time.md"

const features = [
  {
    icon: Code,
    title: "Built for Devs",
    content: BuiltForDevs,
    video: "/assets/video/built-for-devs.mp4"
  },
  {
    icon: WandSparkles,
    title: "Powerful Config Management",
    content: PowerfulConfigs,
    video: "/assets/video/powerful-config-management.mp4"
  },
  {
    icon: BookOpenText,
    title: "Customizable, Integrated Documentation",
    content: IntegratedDocs,
    video: "/assets/video/customizable-integrated-documentation.mp4"
  },
  {
    icon: Monitor,
    title: "Flexible UI",
    content: FlexibleUi,
    video: "/assets/video/flexible-ui.mp4"
  },
  {
    icon: Terminal,
    title: "Monitor Long Running Scripts",
    content: LongRun,
    video: "/assets/video/monitor-long-running-scripts.mp4"
  },
  {
    icon: SquarePlay,
    title: "Interact In Real-Time",
    content: RealTime,
    video: "/assets/video/interact-in-real-time.mp4"
  }
];



const iconClass = "min-w-6 mb-1 md:my-0 !scale-125 [&_*]:!text-setta-600 group-hover/card:[&_*]:!text-blue-600 [&_*]:transition-colors"

---

<Section customSiteWidth="sm:w-[clamp(280px,_90vw,_1140px)]" outerClass="pt-32 md:pt-48 sm:pb-16 lg:pt-[20vh] xl:pt-[35vh] md:pb-24 pattern !bg-setta-950" innerClass="mx-auto">
  <h2 class="mx-auto mb-4 md:mb-8 text-5xl md:!text-7xl tracking-tight md:tracking-tighter text-center lg:text-left text-white !font-medium text-balance">
    Why <span class="text-[#4CE2FF]">Setta</span> Is <em>Betta</em> 
  </h2>

  <aside class="flex flex-col items-center flex-wrap sm:gap-10 md:gap-20 md:[&>*:nth-child(even)]:!flex-row-reverse">
    {features.map(({ icon: Icon, title, content: Content, video }) => (
      <Card 
        isVideo={true}
        videoSrc={video}
        controls={false}
        muted
        autoplay
        loop={true}
      >
        <Icon slot="icon" class={iconClass} />
        <Fragment slot="title">{title}</Fragment>
        <Fragment slot="body"><Content /></Fragment>
      </Card>
    ))}
  </aside>
</Section>
