---
import Card from "./general/Card.astro";
import Section from "./sections/Section.astro";
import { Copy, Github, Terminal, Code2, Layout as LayoutIcon, FileJson } from 'lucide-astro';
import TempImage from "../assets/img/tempimage.png"


const iconStyle = "min-w-6 [&_*]:!text-setta-600 group-hover/card:[&_*]:!text-blue-600 [&_*]:transition-colors"
---

<Section outerClass="pt-16 pb-16 bg-setta-dark pattern" >

  <h2 class="mx-auto">Why Developers Think Setta Is Betta</h2>

  <aside class="flex flex-wrap flex-row gap-4">
    <Card isVideo={true}
    videoSrc="/assets/video/clean-ui.mp4"
    controls={false}
    muted
    autoplay
    loop={true}>
      <Terminal slot="icon" class={iconStyle} />
      <Fragment slot="title">Clean UI</Fragment>
      <Fragment slot="body">Drop the tedious UI boilerplate code. Setta lets you create & manage complex configurations with the click of a button.</Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/built-for-devs.mp4"
    controls={false}
    muted
    autoplay
    loop={true}
    >
      <LayoutIcon slot="icon" class={iconStyle} />
      <Fragment slot="title">Built for Devs</Fragment>
      <Fragment slot="body">Stop writing config parsers. Setta handles all configuration management, letting you focus on what matters - your application's core functionality.</Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/complex-configs.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Manage Complex Configs </Fragment>
      <Fragment slot="body">Define configurations with Python classes. Get type hints, validation, and documentation for free.</Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/in-project-docs.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">In Project Docs</Fragment>
      <Fragment slot="body">Integrate documentation, tooltips, markdown, social content, images, and interactive elements to make configurations more approachable.</Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/training-run.mp4"
    controls={false}
    muted
    autoplay
    loop={true} >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Great for Training Runs</Fragment>
      <Fragment slot="body">Integrate documentation, tooltips, markdown, social content, images, and interactive elements to make configurations more approachable.</Fragment>
    </Card>
    <Card isVideo={true}
    videoSrc="/assets/video/interactive-example.mp4"
    controls={false}
    muted
    autoplay
    loop={true}
 >
      <Code2 slot="icon" class={iconStyle} />
      <Fragment slot="title">Interactive Elements</Fragment>
      <Fragment slot="body">Integrate documentation, tooltips, markdown, social content, images, and interactive elements to make configurations more approachable.</Fragment>
    </Card>

    
  </aside>
</Section>


  <!-- <Section innerClass="mx-auto" proseClasses=''>
    <article class="flex justify-between">
      <aside class="prose">
        <h3>Forgettabout the config hell</h3>
        <p>With Setta, you betta get to coding cause there isn't any configuration parsers to write!</p>
      </aside>
      <div class="w-16 h-16 bg-red-500 rounded" />

    </article>
  </Section> -->