---
// ThemeImage.astro
import { Image } from 'astro:assets';

interface Props {
  lightImage: ImageMetadata;
  darkImage: ImageMetadata;
  alt: string;
  class?: string;
  width?: number;
  height?: number;
  quality?: number;
  imageClass ?: string;
}

const { 
  lightImage, 
  darkImage, 
  alt, 
  class: className = "relative", 
  width, 
  height,
  imageClass,
  quality = 100 
} = Astro.props;
---

<div class={className}>
  <Image
    src={lightImage}
    alt={alt}
    width={width}
    height={height}
    class={`block dark:hidden ${imageClass}`}
    quality={quality}
  />
  <Image
    src={darkImage}
    alt={alt}
    width={width}
    height={height}
    class={`hidden dark:block ${imageClass}`}
    quality={quality}
  />
</div>